/*.parent :last-child {
    font-weight: bold;
}
.last-type :last-of-type {
    color: green;
}
.last-type:first-of-type {
    color: blue;
}
div {
    color: brown;
}
div:not(#coloreBlue) {
    color: purple;
}
.odd :nth-child(3n+1) {
    background: chartreuse;
}
.odd :nth-child(2n) {
    background: rgb(27, 39, 15);
}
a[href^="https"]:active {
    text-decoration: none;
}
a[href^="./index.html"]:active {
    text-decoration: none;
}
a[href] {

}
a[href*="www"] {
    ;
}
a[href$=".com"] {
    ;
}
a[href="https://www.google.com/search?q=z%2Ckjrj&rlz=1C1SQJL_enBY886BY886&oq=z%2Ckjrj&aqs=chrome..69i57j46i10i433j0i10i131i433j0i10l2j46i10j0i10l3.1576j0j7&sourceid=chrome&ie=UTF-8"] {
    ;
}
a[data-filetype="image"] {

}
.before::before {
    content: "!";
} 
.after::after {
    content: ".";
} 
.box {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    transform: rotate(90deg);
    position: relative;
}
.box::after {
    content: ".";
    position: relative;
    right: -50px;
}*/

.boxContainer {
    /*width: 100px;
    height: 75px;*/
    outline: 1px solid black;
    max-width: 300px;
    max-height: 450px;
   /* text-overflow: ellipsis;*/
    min-width: 100px;
    min-height: 150px;
}
div {
    line-height: 40px;
    font-weight: 600;
    font-style: italic;
    font-family:'Ranchers', cursive;
}
.boxPadding {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    padding-right: 20px ;
    padding-bottom: 35px;
    padding-top: 15px;
    padding-left: 30px;
    
    padding: 15px 20px 35px 30px; /*по часовой стрелке ещз top-right-bottom-left*/
    padding: 15; /* для всех*/
    padding: 15px 20px;/*по часовой стрелке ещз top-right-bottom-left(по кругу)*/
   
    margin-bottom: 20px ;
}

